/* mad.CSS 2.74 by Jan Egil and Borge Refsnes */
*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
/* Extract from normalize.css by Nicolas Gallagher and Jonathan Neal git.io/normalize */
html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}
article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary{display:block}
audio,canvas,video{display:inline-block;vertical-align:baseline}
audio:not([controls]){display:none;height:0}[hidden],template{display:none}
a{background-color:transparent}a:active,a:hover{outline:0}abbr[title]{border-bottom:1px dotted}
dfn{font-style:italic}mark{background:#ff0;color:#000}
small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sup{top:-0.5em}sub{bottom:-0.25em}
img{border:0}svg:not(:root){overflow:hidden}figure{margin:1em 40px}
hr{-moz-box-sizing:content-box;box-sizing:content-box}
code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}
button,input,select,textarea{font:inherit;margin:0}
button{overflow:visible}button,select{text-transform:none}
button,html input[type=button],input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer}
button[disabled],html input[disabled]{cursor:default}
button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}
input[type=checkbox],input[type=radio]{padding:0}
input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button{height:auto}
input[type=search]{box-sizing:content-box;-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box}
input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}
fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:.35em .625em .75em}
legend{border:0;padding:0}pre,textarea{overflow:auto}
/* End extract from normalize.css */
html,body{font-family:Verdana,sans-serif;font-size:15px;line-height:1.5}html{overflow-x:hidden}
h1,h2,h3,h4,h5,h6,.mad-slim,.mad-wide{font-family:"Segoe UI",Arial,sans-serif}
h1{font-size:36px}h2{font-size:30px}h3{font-size:24px}h4{font-size:20px}h5{font-size:18px}h6{font-size:16px}
.mad-serif{font-family:"Times New Roman",Times,serif}
h1,h2,h3,h4,h5,h6{font-weight:400;margin:10px 0}.mad-wide{letter-spacing:4px}
h1 a,h2 a,h3 a,h4 a,h5 a,h6 a{font-weight:inherit}
hr{height:0;border:0;border-top:1px solid #eee;margin:20px 0}
img{margin-bottom:-5px}a{color:inherit}
table{border-collapse:collapse;border-spacing:0;width:100%;display:table}
table,th,td{border:none}.mad-table-all{border:1px solid #ccc}
.mad-bordered tr,.mad-table-all tr{border-bottom:1px solid #ddd}
.mad-striped tbody tr:nth-child(even){background-color:#f1f1f1}
.mad-table-all tr:nth-child(odd){background-color:#fff}
.mad-table-all tr:nth-child(even){background-color:#f1f1f1}
.mad-hoverable tbody tr:hover,.mad-ul.mad-hoverable li:hover{background-color:#ccc}
.mad-centered tr th,.mad-centered tr td{text-align:center}
.mad-table td,.mad-table th,.mad-table-all td,.mad-table-all th{padding:6px 8px;display:table-cell;text-align:left;vertical-align:top}
.mad-table th:first-child,.mad-table td:first-child,.mad-table-all th:first-child,.mad-table-all td:first-child{padding-left:16px}
.mad-btn,.mad-btn-block{border:none;display:inline-block;outline:0;padding:6px 16px;vertical-align:middle;overflow:hidden;text-decoration:none!important;color:#fff;background-color:#000;text-align:center;cursor:pointer;white-space:nowrap}
.mad-disabled,.mad-btn:disabled,.mad-btn-floating:disabled,.mad-btn-floating-large:disabled{cursor:not-allowed;opacity:0.3}
.mad-btn.mad-disabled *,.mad-btn-block.mad-disabled,.mad-btn-floating.mad-disabled *,.mad-btn:disabled *,.mad-btn-floating:disabled *{pointer-events:none}
.mad-btn.mad-disabled:hover,.mad-btn-block.mad-disabled:hover,.mad-btn:disabled:hover,.mad-btn-floating.mad-disabled:hover,.mad-btn-floating:disabled:hover,
.mad-btn-floating-large.mad-disabled:hover,.mad-btn-floating-large:disabled:hover{box-shadow:none}
.mad-btn:hover,.mad-btn-block:hover,.mad-btn-floating:hover,.mad-btn-floating-large:hover{box-shadow:0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)}
.mad-btn-block{width:100%}
.mad-btn,.mad-btn-floating,.mad-btn-floating-large,.mad-closenav,.mad-opennav{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}   
.mad-btn-floating,.mad-btn-floating-large{display:inline-block;text-align:center;color:#fff;background-color:#000;position:relative;overflow:hidden;z-index:1;padding:0;border-radius:50%;cursor:pointer;font-size:24px}
.mad-btn-floating{width:40px;height:40px;line-height:40px}
.mad-btn-floating-large{width:56px;height:56px;line-height:56px}
.mad-btn-group .mad-btn{float:left}
.mad-btn-bar .mad-btn{box-shadow:none;background-color:inherit;color:inherit;float:left}
.mad-btn-bar .mad-btn:hover{background-color:#ccc}
.mad-ripple{position:relative;overflow:hidden}
.mad-ripple:after{content:"";background:#ccc;position:absolute;padding:300%;bottom:0;left:0;opacity:0;transition:0.8s}
.mad-ripple:active:after{padding:0;opacity:1;transition:0s}
.mad-badge,.mad-tag,.mad-sign{background-color:#000;color:#fff;display:inline-block;padding-left:8px;padding-right:8px;text-align:center}
.mad-badge{border-radius:50%}
ul.mad-ul{list-style-type:none;padding:0;margin:0}
ul.mad-ul li{padding:6px 2px 6px 16px;border-bottom:1px solid #ddd}
ul.mad-ul li:last-child{border-bottom:none}
.mad-tooltip,.mad-display-container{position:relative}
.mad-fluid{max-width:100%;height:auto}
.mad-tooltip .mad-text{display:none}
.mad-tooltip:hover .mad-text{display:inline-block}
.mad-navbar{list-style-type:none;margin:0;padding:0;overflow:hidden}
.mad-navbar li{float:left}.mad-navbar li a,.mad-navitem{display:block;padding:8px 16px}.mad-navbar li a:hover{color:#000;background-color:#ccc}
.mad-navbar .mad-dropdown-hover,.mad-navbar .mad-dropdown-click{position:static}
.mad-navbar .mad-dropdown-hover:hover,.mad-navbar .mad-dropdown-hover:first-child,.mad-navbar .mad-dropdown-click:hover{background-color:#ccc;color:#000}
.mad-navbar a,.mad-topnav a,.mad-sidenav a,.mad-dropdown-content a,.mad-accordion-content a,.mad-dropnav a{text-decoration:none!important}
.mad-navbar .mad-opennav.mad-right{float:right!important}.mad-topnav{padding:8px 8px}
.mad-topnav a{padding:0 8px;border-bottom:3px solid transparent;-webkit-transition:border-bottom .3s;transition:border-bottom .3s}
.mad-topnav a:hover{border-bottom:3px solid #fff}.mad-topnav .mad-dropdown-hover a{border-bottom:0}
.mad-opennav,.mad-closenav{color:inherit}.mad-opennav:hover,.mad-closenav:hover{cursor:pointer;opacity:0.8}
.mad-btn,.mad-btn-floating,.mad-dropnav a,.mad-btn-floating-large,.mad-btn-block,.mad-hover-shadow,.mad-hover-opacity,
.mad-navbar a,.mad-sidenav a,.mad-pagination li a,.mad-hoverable tbody tr,.mad-hoverable li,.mad-accordion-content a,.mad-dropdown-content a,.mad-dropdown-click:hover,.mad-dropdown-hover:hover,.mad-opennav,.mad-closenav,.mad-closebtn,
.mad-hover-amber,.mad-hover-aqua,.mad-hover-blue,.mad-hover-light-blue,.mad-hover-brown,.mad-hover-cyan,.mad-hover-blue-grey,.mad-hover-green,.mad-hover-light-green,.mad-hover-indigo,.mad-hover-khaki,.mad-hover-lime,.mad-hover-orange,.mad-hover-deep-orange,.mad-hover-pink,
.mad-hover-purple,.mad-hover-deep-purple,.mad-hover-red,.mad-hover-sand,.mad-hover-teal,.mad-hover-yellow,.mad-hover-white,.mad-hover-black,.mad-hover-grey,.mad-hover-light-grey,.mad-hover-dark-grey,.mad-hover-text-amber,.mad-hover-text-aqua,.mad-hover-text-blue,.mad-hover-text-light-blue,
.mad-hover-text-brown,.mad-hover-text-cyan,.mad-hover-text-blue-grey,.mad-hover-text-green,.mad-hover-text-light-green,.mad-hover-text-indigo,.mad-hover-text-khaki,.mad-hover-text-lime,.mad-hover-text-orange,.mad-hover-text-deep-orange,.mad-hover-text-pink,.mad-hover-text-purple,
.mad-hover-text-deep-purple,.mad-hover-text-red,.mad-hover-text-sand,.mad-hover-text-teal,.mad-hover-text-yellow,.mad-hover-text-white,.mad-hover-text-black,.mad-hover-text-grey,.mad-hover-text-light-grey,.mad-hover-text-dark-grey
{-webkit-transition:background-color .3s,color .15s,box-shadow .3s,opacity 0.3s;transition:background-color .3s,color .15s,box-shadow .3s,opacity 0.3s}
.mad-sidenav{height:100%;width:200px;background-color:#fff;position:fixed!important;z-index:1;overflow:auto}
.mad-sidenav a{padding:4px 2px 4px 16px}.mad-sidenav a:hover{background-color:#ccc}.mad-sidenav a,.mad-dropnav a{display:block}
.mad-sidenav .mad-dropdown-hover:hover,.mad-sidenav .mad-dropdown-hover:first-child,.mad-sidenav .mad-dropdown-click:hover,.mad-dropnav a:hover{background-color:#ccc;color:#000}
.mad-sidenav .mad-dropdown-hover,.mad-sidenav .mad-dropdown-click {width:100%}.mad-sidenav .mad-dropdown-hover .mad-dropdown-content,.mad-sidenav .mad-dropdown-click .mad-dropdown-content{min-width:100%}
.mad-main,#main{transition:margin-left .4s}
.mad-modal{z-index:3;display:none;padding-top:100px;position:fixed;left:0;top:0;width:100%;height:100%;overflow:auto;background-color:rgb(0,0,0);background-color:rgba(0,0,0,0.4)}
.mad-modal-content{margin:auto;background-color:#fff;position:relative;padding:0;outline:0;width:600px}.mad-closebtn{text-decoration:none;float:right;font-size:24px;font-weight:bold;color:inherit}
.mad-closebtn:hover,.mad-closebtn:focus{color:#000;text-decoration:none;cursor:pointer}
.mad-pagination{display:inline-block;padding:0;margin:0}.mad-pagination li{display:inline}
.mad-pagination li a{text-decoration:none;color:#000;float:left;padding:8px 16px}
.mad-pagination li a:hover{background-color:#ccc}
.mad-input-group,.mad-group{margin-top:24px;margin-bottom:24px}
.mad-input{padding:8px;display:block;border:none;border-bottom:1px solid #808080;width:100%}
.mad-label{color:#009688}.mad-input:not(:valid)~.mad-validate{color:#f44336}
.mad-select{padding:9px 0;width:100%;color:#000;border:1px solid transparent;border-bottom:1px solid #009688}
.mad-select select:focus{color:#000;border:1px solid #009688}.mad-select option[disabled]{color:#009688}
.mad-dropdown-click,.mad-dropdown-hover{position:relative;display:inline-block;cursor:pointer}
.mad-dropdown-hover:hover .mad-dropdown-content{display:block;z-index:1}
.mad-dropdown-content{cursor:auto;color:#000;background-color:#fff;display:none;position:absolute;min-width:160px;margin:0;padding:0}
.mad-dropdown-content a{padding:6px 16px;display:block}
.mad-dropdown-content a:hover{background-color:#ccc}
.mad-accordion {width:100%;cursor:pointer}
.mad-accordion-content{cursor:auto;display:none;position:relative;width:100%;margin:0;padding:0}
.mad-accordion-content a{padding:6px 16px;display:block}.mad-accordion-content a:hover{background-color:#ccc}
.mad-progress-container{width:100%;height:1.5em;position:relative;background-color:#f1f1f1}
.mad-progressbar{background-color:#757575;height:100%;position:absolute;line-height:inherit}
input[type=checkbox].mad-check,input[type=radio].mad-radio{width:24px;height:24px;position:relative;top:6px}
input[type=checkbox].mad-check:checked+.mad-validate,input[type=radio].mad-radio:checked+.mad-validate{color:#009688} 
input[type=checkbox].mad-check:disabled+.mad-validate,input[type=radio].mad-radio:disabled+.mad-validate{color:#aaa}
.mad-responsive{overflow-x:auto}
.mad-container:after,.mad-panel:after,.mad-row:after,.mad-row-padding:after,.mad-topnav:after,.mad-clear:after,.mad-btn-group:before,.mad-btn-group:after,.mad-btn-bar:before,.mad-btn-bar:after
{content:"";display:table;clear:both}
.mad-col,.mad-half,.mad-third,.mad-twothird,.mad-threequarter,.mad-quarter{float:left;width:100%}
.mad-col.s1{width:8.33333%}
.mad-col.s2{width:16.66666%}
.mad-col.s3{width:24.99999%}
.mad-col.s4{width:33.33333%}
.mad-col.s5{width:41.66666%}
.mad-col.s6{width:49.99999%}
.mad-col.s7{width:58.33333%}
.mad-col.s8{width:66.66666%}
.mad-col.s9{width:74.99999%}
.mad-col.s10{width:83.33333%}
.mad-col.s11{width:91.66666%}
.mad-col.s12,.mad-half,.mad-third,.mad-twothird,.mad-threequarter,.mad-quarter{width:99.99999%}
@media only screen and (min-width:601px){
.mad-col.m1{width:8.33333%}
.mad-col.m2{width:16.66666%}
.mad-col.m3,.mad-quarter{width:24.99999%}
.mad-col.m4,.mad-third{width:33.33333%}
.mad-col.m5{width:41.66666%}
.mad-col.m6,.mad-half{width:49.99999%}
.mad-col.m7{width:58.33333%}
.mad-col.m8,.mad-twothird{width:66.66666%}
.mad-col.m9,.mad-threequarter{width:74.99999%}
.mad-col.m10{width:83.33333%}
.mad-col.m11{width:91.66666%}
.mad-col.m12{width:99.99999%}}
@media only screen and (min-width:993px){
.mad-col.l1{width:8.33333%}
.mad-col.l2{width:16.66666%}
.mad-col.l3,.mad-quarter{width:24.99999%}
.mad-col.l4,.mad-third{width:33.33333%}
.mad-col.l5{width:41.66666%}
.mad-col.l6,.mad-half{width:49.99999%}
.mad-col.l7{width:58.33333%}
.mad-col.l8,.mad-twothird{width:66.66666%}
.mad-col.l9,.mad-threequarter{width:74.99999%}
.mad-col.l10{width:83.33333%}
.mad-col.l11{width:91.66666%}
.mad-col.l12{width:99.99999%}}
.mad-content{max-width:980px;margin:auto}
.mad-rest{overflow:hidden}
.mad-hide{display:none!important}.mad-show-block,.mad-show{display:block!important}.mad-show-inline-block{display:inline-block!important}
@media (max-width:600px){.mad-modal-content{margin:0 10px;width:auto!important}.mad-modal{padding-top:30px}}
@media (max-width:768px){.mad-modal-content{width:500px}.mad-modal{padding-top:50px}}
@media (min-width:993px){.mad-modal-content{width:900px}}
@media screen and (max-width:600px){.mad-topnav a{display:block}.mad-navbar li:not(.mad-opennav){float:none;width:100%!important}.mad-navbar li.mad-right{float:none!important}}	
@media screen and (max-width:600px){.mad-topnav .mad-dropdown-hover .mad-dropdown-content,.mad-navbar .mad-dropdown-click .mad-dropdown-content,.mad-navbar .mad-dropdown-hover .mad-dropdown-content{position:relative}}	
@media screen and (max-width:600px){.mad-topnav,.mad-navbar{text-align:center}}
@media (max-width:600px){.mad-hide-small{display:none!important}}
@media (max-width:992px) and (min-width:601px){.mad-hide-medium{display:none!important}}
@media (min-width:993px){.mad-hide-large{display:none!important}}
@media screen and (max-width:992px){.mad-sidenav.mad-collapse{display:none}.mad-main{margin-left:0!important;margin-right:0!important}}
@media screen and (min-width:993px){.mad-sidenav.mad-collapse{display:block!important}}
.mad-top,.mad-bottom{position:fixed;width:100%;z-index:1}.mad-top{top:0}.mad-bottom{bottom:0}
.mad-overlay{position:fixed;display:none;width:100%;height:100%;top:0;left:0;right:0;bottom:0;background-color:rgba(0,0,0,0.5);z-index:2}
.mad-left{float:left!important}.mad-right{float:right!important}
.mad-tiny{font-size:10px!important}.mad-small{font-size:12px!important}
.mad-medium{font-size:15px!important}.mad-large{font-size:18px!important}
.mad-xlarge{font-size:24px!important}.mad-xxlarge{font-size:36px!important}
.mad-xxxlarge{font-size:48px!important}.mad-jumbo{font-size:64px!important}
.mad-vertical{word-break:break-all;line-height:1;text-align:center;width:0.6em}
.mad-left-align{text-align:left!important}.mad-right-align{text-align:right!important}
.mad-justify{text-align:justify!important}.mad-center{text-align:center!important}
.mad-display-topleft{position:absolute;left:0;top:0}.mad-display-topright{position:absolute;right:0;top:0}
.mad-display-bottomleft{position:absolute;left:0;bottom:0}.mad-display-bottomright{position:absolute;right:0;bottom:0}
.mad-display-middle{position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%)}
.mad-display-topmiddle{position:absolute;left:0;top:0;width:100%;text-align:center}.mad-display-bottommiddle{position:absolute;left:0;bottom:0;width:100%;text-align:center}
.mad-circle{border-radius:50%!important}
.mad-round-small{border-radius:2px!important}.mad-round,.mad-round-medium{border-radius:4px!important}
.mad-round-large{border-radius:8px!important}.mad-round-xlarge{border-radius:16px!important}
.mad-round-xxlarge{border-radius:32px!important}.mad-round-jumbo{border-radius:64px!important}
.mad-border-0{border:0!important}
.mad-border{border:1px solid #ccc!important}
.mad-border-top{border-top:1px solid #ccc!important}.mad-border-bottom{border-bottom:1px solid #ccc!important}
.mad-border-left{border-left:1px solid #ccc!important}.mad-border-right{border-right:1px solid #ccc!important}
.mad-margin{margin:16px!important}.mad-margin-0{margin:0!important}
.mad-margin-top{margin-top:16px!important}.mad-margin-bottom{margin-bottom:16px!important}
.mad-margin-left{margin-left:16px!important}.mad-margin-right{margin-right:16px!important}
.mad-section{margin-top:16px!important;margin-bottom:16px!important}
.mad-padding-tiny{padding:2px 4px!important}.mad-padding-small{padding:4px 8px!important}
.mad-padding-medium,.mad-padding,.mad-form{padding:8px 16px!important}
.mad-padding-large{padding:12px 24px!important}.mad-padding-xlarge{padding:16px 32px!important}
.mad-padding-xxlarge{padding:24px 48px!important}.mad-padding-jumbo{padding:32px 64px!important}
.mad-padding-4{padding-top:4px!important;padding-bottom:4px!important}
.mad-padding-8{padding-top:8px!important;padding-bottom:8px!important}
.mad-padding-12{padding-top:12px!important;padding-bottom:12px!important}
.mad-padding-16{padding-top:16px!important;padding-bottom:16px!important}
.mad-padding-24{padding-top:24px!important;padding-bottom:24px!important}
.mad-padding-32{padding-top:32px!important;padding-bottom:32px!important}
.mad-padding-48{padding-top:48px!important;padding-bottom:48px!important}
.mad-padding-64{padding-top:64px!important;padding-bottom:64px!important}
.mad-padding-128{padding-top:128px!important;padding-bottom:128px!important}
.mad-padding-0{padding:0!important}
.mad-padding-top{padding-top:8px!important}.mad-padding-bottom{padding-bottom:8px!important}
.mad-padding-left{padding-left:16px!important}.mad-padding-right{padding-right:16px!important}
.mad-topbar{border-top:6px solid #ccc!important}.mad-bottombar{border-bottom:6px solid #ccc!important}
.mad-leftbar{border-left:6px solid #ccc!important}.mad-rightbar{border-right:6px solid #ccc!important}
.mad-row-padding,.mad-row-padding>.mad-half,.mad-row-padding>.mad-third,.mad-row-padding>.mad-twothird,.mad-row-padding>.mad-threequarter,.mad-row-padding>.mad-quarter,.mad-row-padding>.mad-col{padding:0 8px}
.mad-spin{animation:mad-spin 2s infinite linear;-webkit-animation:mad-spin 2s infinite linear}
@-webkit-keyframes mad-spin{
0%{-webkit-transform:rotate(0deg);transform:rotate(0deg)}100%{-webkit-transform:rotate(359deg);transform:rotate(359deg)}}
@keyframes mad-spin{
0%{-webkit-transform:rotate(0deg);transform:rotate(0deg)}100%{-webkit-transform:rotate(359deg);transform:rotate(359deg)}}
.mad-container{padding:0.01em 16px}
.mad-panel{padding:0.01em 16px;margin-top:16px!important;margin-bottom:16px!important}
.mad-example{background-color:#f1f1f1;padding:0.01em 16px}
.mad-code,.mad-codespan{font-family:Consolas,"courier new";font-size:16px}
.mad-code{line-height:1.4;width:auto;background-color:#fff;padding:8px 12px;border-left:4px solid #009688;word-wrap:break-word}
.mad-codespan{color:crimson;background-color:#f1f1f1;padding-left:4px;padding-right:4px;font-size:110%}
.mad-example,.mad-code,.mad-reference{margin:20px 0}
.mad-card{border:1px solid #ccc}
.mad-card-2,.mad-example{box-shadow:0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important}
.mad-card-4,.mad-hover-shadow:hover{box-shadow:0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)!important}
.mad-card-8{box-shadow:0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)!important}
.mad-card-12{box-shadow:0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19)!important}
.mad-card-16{box-shadow:0 16px 24px 0 rgba(0,0,0,0.22),0 25px 55px 0 rgba(0,0,0,0.21)!important}
.mad-card-24{box-shadow:0 24px 24px 0 rgba(0,0,0,0.2),0 40px 77px 0 rgba(0,0,0,0.22)!important}
.mad-animate-fading{-webkit-animation:fading 10s infinite;animation:fading 10s infinite}
@-webkit-keyframes fading{0%{opacity:0}50%{opacity:1}100%{opacity:0}}
@keyframes fading{0%{opacity:0}50%{opacity:1}100%{opacity:0}}
.mad-animate-opacity{-webkit-animation:opac 1.5s;animation:opac 1.5s}
@-webkit-keyframes opac{from{opacity:0} to{opacity:1}}
@keyframes opac{from{opacity:0} to{opacity:1}}
.mad-animate-top{position:relative;-webkit-animation:animatetop 0.4s;animation:animatetop 0.4s}
@-webkit-keyframes animatetop{from{top:-300px;opacity:0} to{top:0;opacity:1}}
@keyframes animatetop{from{top:-300px;opacity:0} to{top:0;opacity:1}}
.mad-animate-left{position:relative;-webkit-animation:animateleft 0.4s;animation:animateleft 0.4s}
@-webkit-keyframes animateleft{from{left:-300px;opacity:0} to{left:0;opacity:1}}
@keyframes animateleft{from{left:-300px;opacity:0} to{left:0;opacity:1}}
.mad-animate-right{position:relative;-webkit-animation:animateright 0.4s;animation:animateright 0.4s}
@-webkit-keyframes animateright{from{right:-300px;opacity:0} to{right:0;opacity:1}}
@keyframes animateright{from{right:-300px;opacity:0} to{right:0;opacity:1}}
.mad-animate-bottom{position:relative;-webkit-animation:animatebottom 0.4s;animation:animatebottom 0.4s}
@-webkit-keyframes animatebottom{from{bottom:-300px;opacity:0} to{bottom:0px;opacity:1}}
@keyframes animatebottom{from{bottom:-300px;opacity:0} to{bottom:0;opacity:1}}
.mad-animate-zoom {-webkit-animation:animatezoom 0.6s;animation:animatezoom 0.6s}
@-webkit-keyframes animatezoom{from{-webkit-transform:scale(0)} to{-webkit-transform:scale(1)}}
@keyframes animatezoom{from{transform:scale(0)} to{transform:scale(1)}}
.mad-animate-input{-webkit-transition:width 0.4s ease-in-out;transition:width 0.4s ease-in-out}.mad-animate-input:focus{width:100%!important}
.mad-opacity,.mad-hover-opacity:hover{opacity:0.60;filter:alpha(opacity=60)}
.mad-text-shadow{text-shadow:1px 1px 0 #444}.mad-text-shadow-white{text-shadow:1px 1px 0 #ddd}
.mad-transparent{background-color:transparent!important}
.mad-hover-none:hover{box-shadow:none!important;background-color:transparent!important}
/* Start of colors */
.mad-amber,.mad-hover-amber:hover{color:#000!important;background-color:#ffc107!important}
.mad-aqua,.mad-hover-aqua:hover{color:#000!important;background-color:#00ffff!important}
.mad-blue,.mad-hover-blue:hover{color:#fff!important;background-color:#2196F3!important}
.mad-light-blue,.mad-hover-light-blue:hover{color:#000!important;background-color:#87CEEB!important}
.mad-brown,.mad-hover-brown:hover{color:#fff!important;background-color:#795548!important}
.mad-cyan,.mad-hover-cyan:hover{color:#000!important;background-color:#00bcd4!important}
.mad-blue-grey,.mad-hover-blue-grey:hover{color:#fff!important;background-color:#607d8b!important}
.mad-green,.mad-hover-green:hover{color:#fff!important;background-color:#4CAF50!important}
.mad-light-green,.mad-hover-light-green:hover{color:#000!important;background-color:#8bc34a!important}
.mad-indigo,.mad-hover-indigo:hover{color:#fff!important;background-color:#3f51b5!important}
.mad-khaki,.mad-hover-khaki:hover{color:#000!important;background-color:#f0e68c!important}
.mad-lime,.mad-hover-lime:hover{color:#000!important;background-color:#cddc39!important}
.mad-orange,.mad-hover-orange:hover{color:#000!important;background-color:#ff9800!important}
.mad-deep-orange,.mad-hover-deep-orange:hover{color:#fff!important;background-color:#ff5722!important}
.mad-pink,.mad-hover-pink:hover{color:#fff!important;background-color:#e91e63!important}
.mad-purple,.mad-hover-purple:hover{color:#fff!important;background-color:#9c27b0!important}
.mad-deep-purple,.mad-hover-deep-purple:hover{color:#fff!important;background-color:#673ab7!important}
.mad-red,.mad-hover-red:hover{color:#fff!important;background-color:#f44336!important}
.mad-sand,.mad-hover-sand:hover{color:#000!important;background-color:#fdf5e6!important}
.mad-teal,.mad-hover-teal:hover{color:#fff!important;background-color:#009688!important}
.mad-yellow,.mad-hover-yellow:hover{color:#000!important;background-color:#ffeb3b!important}
.mad-white,.mad-hover-white:hover{color:#000!important;background-color:#fff!important}
.mad-black,.mad-hover-black:hover{color:#fff!important;background-color:#000!important}
.mad-grey,.mad-hover-grey:hover{color:#000!important;background-color:#9e9e9e!important}
.mad-light-grey,.mad-hover-light-grey:hover{color:#000!important;background-color:#f1f1f1!important}
.mad-dark-grey,.mad-hover-dark-grey:hover{color:#fff!important;background-color:#616161!important}
.mad-pale-red,.mad-hover-pale-red:hover{color:#000!important;background-color:#ffdddd!important}
.mad-pale-green,.mad-hover-pale-green:hover{color:#000!important;background-color:#ddffdd!important}
.mad-pale-yellow,.mad-hover-pale-yellow:hover{color:#000!important;background-color:#ffffcc!important}
.mad-pale-blue,.mad-hover-pale-blue:hover{color:#000!important;background-color:#ddffff!important}
.mad-text-amber,.mad-hover-text-amber:hover{color:#ffc107!important}
.mad-text-aqua,.mad-hover-text-aqua:hover{color:#00ffff!important}
.mad-text-blue,.mad-hover-text-blue:hover{color:#2196F3!important}
.mad-text-light-blue,.mad-hover-text-light-blue:hover{color:#87CEEB!important}
.mad-text-brown,.mad-hover-text-brown:hover{color:#795548!important}
.mad-text-cyan,.mad-hover-text-cyan:hover{color:#00bcd4!important}
.mad-text-blue-grey,.mad-hover-text-blue-grey:hover{color:#607d8b!important}
.mad-text-green,.mad-hover-text-green:hover{color:#4CAF50!important}
.mad-text-light-green,.mad-hover-text-light-green:hover{color:#8bc34a!important}
.mad-text-indigo,.mad-hover-text-indigo:hover{color:#3f51b5!important}
.mad-text-khaki,.mad-hover-text-khaki:hover{color:#b4aa50!important}
.mad-text-lime,.mad-hover-text-lime:hover{color:#cddc39!important}
.mad-text-orange,.mad-hover-text-orange:hover{color:#ff9800!important}
.mad-text-deep-orange,.mad-hover-text-deep-orange:hover{color:#ff5722!important}
.mad-text-pink,.mad-hover-text-pink:hover{color:#e91e63!important}
.mad-text-purple,.mad-hover-text-purple:hover{color:#9c27b0!important}
.mad-text-deep-purple,.mad-hover-text-deep-purple:hover{color:#673ab7!important}
.mad-text-red,.mad-hover-text-red:hover{color:#f44336!important}
.mad-text-sand,.mad-hover-text-sand:hover{color:#fdf5e6!important}
.mad-text-teal,.mad-hover-text-teal:hover{color:#009688!important}
.mad-text-yellow,.mad-hover-text-yellow:hover{color:#d2be0e!important}
.mad-text-white,.mad-hover-text-white:hover{color:#fff!important}
.mad-text-black,.mad-hover-text-black:hover{color:#000!important}
.mad-text-grey,.mad-hover-text-grey:hover{color:#757575!important}
.mad-text-light-grey,.mad-hover-text-light-grey:hover{color:#f1f1f1!important}
.mad-text-dark-grey,.mad-hover-text-dark-grey:hover{color:#3a3a3a!important}
.mad-border-amber,.mad-hover-border-amber:hover{border-color:#ffc107!important}
.mad-border-aqua,.mad-hover-border-aqua:hover{border-color:#00ffff!important}
.mad-border-blue,.mad-hover-border-blue:hover{border-color:#2196F3!important}
.mad-border-light-blue,.mad-hover-border-light-blue:hover{border-color:#87CEEB!important}
.mad-border-brown,.mad-hover-border-brown:hover{border-color:#795548!important}
.mad-border-cyan,.mad-hover-border-cyan:hover{border-color:#00bcd4!important}
.mad-border-blue-grey,.mad-hover-blue-grey:hover{border-color:#607d8b!important}
.mad-border-green,.mad-hover-border-green:hover{border-color:#4CAF50!important}
.mad-border-light-green,.mad-hover-border-light-green:hover{border-color:#8bc34a!important}
.mad-border-indigo,.mad-hover-border-indigo:hover{border-color:#3f51b5!important}
.mad-border-khaki,.mad-hover-border-khaki:hover{border-color:#f0e68c!important}
.mad-border-lime,.mad-hover-border-lime:hover{border-color:#cddc39!important}
.mad-border-orange,.mad-hover-border-orange:hover{border-color:#ff9800!important}
.mad-border-deep-orange,.mad-hover-border-deep-orange:hover{border-color:#ff5722!important}
.mad-border-pink,.mad-hover-border-pink:hover{border-color:#e91e63!important}
.mad-border-purple,.mad-hover-border-purple:hover{border-color:#9c27b0!important}
.mad-border-deep-purple,.mad-hover-border-deep-purple:hover{border-color:#673ab7!important}
.mad-border-red,.mad-hover-border-red:hover{border-color:#f44336!important}
.mad-border-sand,.mad-hover-border-sand:hover{border-color:#fdf5e6!important}
.mad-border-teal,.mad-hover-border-teal:hover{border-color:#009688!important}
.mad-border-yellow,.mad-hover-border-yellow:hover{border-color:#ffeb3b!important}
.mad-border-white,.mad-hover-border-white:hover{border-color:#fff!important}
.mad-border-black,.mad-hover-border-black:hover{border-color:#000!important}
.mad-border-grey,.mad-hover-border-grey:hover{border-color:#9e9e9e!important}
.mad-border-light-grey,.mad-hover-border-light-grey:hover{border-color:#f1f1f1!important}
.mad-border-dark-grey,.mad-hover-border-dark-grey:hover{border-color:#616161!important}
.mad-border-pale-red,.mad-hover-border-pale-red:hover{border-color:#ffe7e7!important}.mad-border-pale-green,.mad-hover-border-pale-green:hover{border-color:#e7ffe7!important}
.mad-border-pale-yellow,.mad-hover-border-pale-yellow:hover{border-color:#ffffcc!important}.mad-border-pale-blue,.mad-hover-border-pale-blue:hover{border-color:#e7ffff!important}
